<?xml version='1.0' encoding='utf-8'?>
<widget id="com.boldseas.MVP.IOS" version="1.0.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>卖车宝test</name>
    <description>
        dccm application
    </description>
    <author email="62431330788@qq.com" href="http://www.blodseas.com">
        ZhongZhengKai@boldseas.com
    </author>
    <preference name="WebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="CrosswalkAnimatable" value="true" />
    <preference name="Orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="~4.4.0" />
    <plugin name="com.cordova.plugins.sms" spec="https://github.com/DevendraSinghNagar/cordova-sms-all-devices-plugin.git" />
    <plugin name="com.darktalker.cordova.screenshot" spec="https://github.com/gitawego/cordova-screenshot.git" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
    <plugin name="cordova-plugin-printer" spec="~0.7.3" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.3" />
    <plugin name="cordova-plugin-wechat" spec="~1.4.0">
        <variable name="WECHATAPPID" value="wxf8c358c7946c8952" />
    </plugin>
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
