
.home-page{
  font-size: .35rem;
  background-color: #fff;
  height: 100%;
}

.home-page .headerBox{
  position: relative;
  height:190px;
  /*background-image: url('assets/image/home-page/texture.png');*/
  /*background-repeat: repeat;*/
  /*background-position:10% 20%;*/
}

.home-page .headerBox .texture{
  position: absolute;
  height:120px;
  bottom: 0;
  left:10px;
  right:10px;
  border-radius: 10px;
  background-image: url('assets/image/home-page/texture.png');
  background-repeat: repeat;
  z-index: 1;
}

.home-page .headerBox .coffee{
  position: absolute;
  height:190px;
  width: 150px;
  left:30px;
  bottom: 0;
  background-image: url('assets/image/home-page/coffee.png');
  background-size: contain;
  z-index: 2;
}

.home-page .headerBox .followUp{
  position: absolute;
  right:20px;
  top:90px;
  z-index: 2;
}

.home-page .headerBox .leads{
  position: absolute;
  right:20px;
  top:125px;
  z-index: 2;
}

.home-page .headerBox .reception2{
  position: absolute;
  right:20px;
  top:160px;
  z-index: 2;
}

.home-page .highlight{
  font-family: porsche-font;
  font-size: .42rem;
  color:#0070BF;
  margin-right: 6px;
}

.home-page .separator{
  position: relative;
  height:30px;
  font-size: .28rem;
  text-align: center;
}

.home-page .separator span{
  display: block;
  height:30px;
  line-height: 30px;
  width: 100%;
  font-size: .28rem;
  text-align: center;
}

.home-page .separator span:before , .home-page .separator span:after{
  position: absolute;
  content: '';
  top:52%;
  background-color: grey;
  width: 38%;
  height: 1px;
}

.home-page .separator span:before {
  left:10px;
}

.home-page .separator span:after{
  right:10px;
}

.home-page .separator .line{
  position: absolute;
  height:15px;
  left:10px;
  right:10px;
  border-bottom: 1px solid black;
}

.home-page .separator .label{
  background-color: #2baee9;
  padding:0 10px;
  line-height:30px;
}

.home-page .functionSmallBox{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content:center;
  height:210px;
  margin: 0 10px;
  padding-top: 5px;
  border-radius: 6px;
  background-color: #d3f1f6;
  overflow-y: hidden;
}

.home-page .functionBigBox{

}

.home-page .articleList{
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling : touch;
}